ipykernel
langchain
langchain-community
pypdf
sentence-transformers
chromadb
streamlit
google-generativeai
python-dotenv
PyMuPDF
langchain-huggingface
langchain-chroma
langchain-google-genai
